@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

form {
    max-width: 700px;
    margin: 0 auto;
    font-size: 14px;
}

legend, h3 {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    margin-left: 10px;
}

input {
    font-size: 13px;
}

#nome, #endereco {
    width: 400px;
}

 label, input,#cEst, #cEst, #estcivil, #escolaridade {    
    margin: 5px 5px;
    padding: 5px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.174);
    border-width: 0.1px;
}

.button {
    font-weight: bold;
    background-color: aliceblue;
}

fieldset {
    background-color: rgb(248, 252, 252);
    border-color: rgba(0, 0, 0, 0.264);
    border-radius: 10px;    
}
