@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

form {
    max-width: 800px;
    margin: 0 auto;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    margin-left: 10px;
}

#nome, #endereco {
    width: 500px;
}

#cEst, label, input {    
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.174);
    border-width: 0.1px;
}

button {
    bu
}

fieldset {
    background-color: rgb(248, 252, 252);
    border-color: rgba(0, 0, 0, 0.264);
    border-radius: 10px;    
}
